.info-section-1 > div:nth-child(2) {
    max-width: 600px;
} 

.info-section-1 {
    margin-bottom: 80px;
}

@media only screen and (max-width: 576px) {
    .info-section-1 > div > div.image > img:nth-child(2) {
        width: 100%;
    } 
    .info-section-1 > div > div.image > img:nth-child(1) {
        width: 50%;
    } 
  }

  @media only screen and (max-width: 950px) and (max-height: 600px) {
    .info-section-1 > div > div.image > img:nth-child(2) {
        width: 100%;
    } 
    .info-section-1 > div > div.image > img:nth-child(1) {
        width: 50%;
    } 
    .info-section-1 > div {
        width: 50%;
    }
  }