nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    font-size: large;
}

nav ul li:not(nav ul li:last-child) a{
    text-decoration: underline;
    color: white;
}


nav ul li:last-child a {
    color: white;
    background-color: rgba(84, 104, 231, 0.5);
    text-decoration: none;
}

nav .hamburger {
    row-gap: 5px;
}

nav .hamburger > div {
    width: 25px;
    height: 3px;
    background-color: white;
}

nav .hamburger > div:nth-child(1) {
    transform-origin: top left;
    transition-duration: 300ms;
}

nav .hamburger > div:nth-child(2) {
    transform-origin: center;
    transition-duration: 300ms;
}

nav .hamburger > div:nth-child(3) {
    transform-origin: left bottom;
    transition-duration: 300ms;
}


nav .active > div:nth-child(1) {
    transform: rotate(45deg);
}

nav .active > div:nth-child(2) {
    transform: scale(0);
}

nav .active > div:nth-child(3) {
    transform: rotate(-45deg);
}